@import url('https://fonts.googleapis.com/css?family=Audiowide|Roboto');

// Color variables
$color-bg: #303030;
$color-footer: #cf5c53;
$color-jumbo: #f4f5f5;
$color-link: #453271;
$color-nav: #4b367c;
$color-result-online: #7c6c9f;
$color-result-offline: #C3C3C3;
$color-status: #587694;
$color-status-on: #FFE787;
// Other variables
$font-title: 'Audiowide', cursive;
$font-text: 'Roboto', cursive;
$logo-size: 70px;

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: $color-bg;
    margin-bottom: 50px;
}

// BLOCK (Jumbotron) Section ----------/
.block {
    background-color: $color-jumbo;
    margin-top: 30px;
    padding-top: 10px;
    
    .block__title {
        color: $color-bg;
        font-family: $font-title;
        text-align: center;
    }

    .block__nav>li.active>a, 
    .block__nav>li.active>a:focus, 
    .block__nav>li.active>a:hover {
        background-color: $color-nav;
        color: $color-jumbo;
    }

    .nav__link {
        color: $color-nav;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 20px;
    }

    @media screen and (max-width: 480px) {
        .nav__link {
            padding: 5px 10px;
            font-size: 15px;
        }
    }

    .nav__link:hover {
        background-color: #9c91b7;
        color: $color-jumbo;
    }
    
    .nav__link:focus {
        background-color: #3e2d66;   
        color: $color-jumbo;     
    }

}

// RESULT Section ----------/
.result {

    div {
        margin: 5px 0;
        border-radius: 5px;
    }

    .result__online {
        background-color: $color-result-online;
        padding: 10px 10px;
        
        .result__name {
            color: $color-status-on;
            margin-top: 10px;
        }

        .result__game,        
        .result__status {
            color: $color-jumbo;
        }
    }
    
    .result__offline {
        background-color: $color-result-offline;
        padding: 10px 10px;        
    }

    .result__thumb {
        background-color: #453271;
    }
    
    .result__logo {
        border-radius: 50%;
        margin: 5px 5px;
        max-height: $logo-size;
        max-width: $logo-size;
    }

    .result__name {
        color: $color-link;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    
    @media screen and (max-width: 480px) {
        .result__logo {
            max-height: 50px;
            max-width: 50px;
        }

        .result__name {
            font-size: 18px;
        }
    }

    .result__game {
        color: $color-jumbo;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 3px;

        i {
            color: $color-status-on;
        }
    }

    .result__status {
        color: $color-status;
        font-size: 18px;
        font-style: italic;
        font-weight: bold;
    }

    @media screen and (max-width: 480px) {
        .result__game {
            font-size: 14px;
        }
        .result__status {
            font-size: 14px;
        }
    }
}

.not-found {
    display: none;

    h2 {
        text-align: center;
    }
}

// LOADING Section ----------/
.loading {
    display: none;
    padding: 20px 20px;

    .loading__text {
        color: $color-jumbo;
        font-family: $font-title;
        font-size: 30px;
        text-align: center;
    }
}

// FOOTER Section ----------/
.footer {
    background-color: $color-footer;
    bottom: 0;
    width: 100%;
    position: absolute;

    .footer__text {
        color: $color-jumbo;
        margin: 0 auto;
        padding: 15px 15px;
        text-align: center;
    }
}