@import url('https://fonts.googleapis.com/css?family=Audiowide');

$color-bg: #181924;
$color-footer: #db5461;
$color-jumbo: #f7f4f3;
$color-result-online: #da9f93;
$colo-result-offline: #ebd4cb;

$font-title: 'Audiowide', cursive;
$logo-size: 70px;

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: $color-bg;
    margin-bottom: 50px;
}

.block {
    background-color: $color-jumbo;
    margin-top: 50px;
    padding-top: 10px;
    
    .block__title {
        color: $color-bg;
        font-family: $font-title;
        text-align: center;
    }

}

.result {

    div {
        margin: 5px 0;
    }

    .result__online {
        background-color: $color-result-online;
    }
    
    .result__offline {
        background-color: $colo-result-offline;
    }
    
    .result__logo {
        border-radius: 50%;
        height: $logo-size;
        margin: 5px 5px;
        width: $logo-size;
    }

    .result__name {
        color: #000;
        font-size: 20px;
        text-align: center;
    }

    .result__status {
        color: #587694;
        font-style: italic;
    }
}

.loading {
    display: none;

    .loading__text {
        text-align: center;
    }
}

.footer {
    background-color: $color-footer;
    bottom: 0;
    width: 100%;
    position: absolute;

    .footer__text {
        color: #fff;
        margin: 0 auto;
        padding: 15px 15px;
        text-align: center;
    }
}