$bg-color: #141256;
$result-online-color: #fff;
$result-offline-color: #aaa;
$logo-size: 70px;

body {
    background-color: $bg-color;
}

.block {
    margin-top: 20px;
    
    .block__list {
        display: none;
    }
}

.result {

    .result__online {
        background-color: $result-online-color;
    }
    
    .result__offline {
        background-color: $result-offline-color;
    }
    
    .result__logo {
        border-radius: 50%;
        height: $logo-size;
        margin: 5px 5px;
        width: $logo-size;
    }

    .result__name {
        text-align: center;
        font-size: 20px;
    }

    .result__status {
        color: #587694;
        font-style: italic;
    }
}

.loading {
    display: none;
}